<h3>Welcome to Goals with Friends!</h3>
<p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>

<% if @user and current_user %>
  <p> A wild <%= @user.name %> has appeared!</p>
<% end %>
